/* .transaction-title {
  color: #f1ac88ff;
  max-width: 60%;
  margin: auto;
}
table {
  width: 50%;
  padding: 2rem;
  margin: auto;
  background: #f1ac88ff;
  border-radius: 20px;
  border: 2px solid white;
  list-style: none;
}
th {
  padding: 1rem 1rem;
  text-align: left;
} */
