.user-item {
  background-color: #f1ac88ff;
  border: white solid 1px;
  margin: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  width: 40%;
  display: flex;
}
.item-content {
  width: 60%;
}
