.button {
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
.button-default,
.button-inverse:hover {
  background-color: #783937ff;
  color: whitesmoke;
}
.button-default:hover,
.button-default:active,
.button-inverse {
  background-color: whitesmoke;
  color: #783937ff;
}
.button-danger {
  background-color: red;
  color: whitesmoke;
}
.button-danger:hover {
  color: red;
  background-color: whitesmoke;
}
.button:disabled,
.button:disabled:hover {
  background-color: grey;
  color: whitesmoke;
}
