.form-control {
  margin: 1rem 0;
}
.form-control label,
.form-control input,
.form-control textarea {
  display: block;
}
.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.form-control input,
.form-control textarea {
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.2rem;
  font-family: inherit;
}
.form-control input:focus,
.form-control textarea:focus {
  outline: none;
}
.form-control--invalid input,
.form-control--invalid textarea {
  background-color: rgb(223, 142, 142);
  border-color: red;
}
.form-control--invalid p {
  color: red;
}
.form-control input {
  height: 35px;
  font-size: medium;
}
