@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #080d15;
}
html {
  font-family: "Sans Serif", open-sans;
}
/* * {
  box-sizing: border-box;
}
.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
} */
