@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
html {
  font-family: "Sans Serif", open-sans;
}
body {
  margin: 0;
  background-color: #783937ff;
}
.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
